<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Random dashboard stuff</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body p-0">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean et tortor at risus viverra adipiscing at in tellus. Tristique nulla aliquet enim tortor at. Aenean pharetra magna ac placerat vestibulum lectus. Dictum sit amet justo donec enim diam vulputate. Risus at ultrices mi tempus imperdiet. Augue eget arcu dictum varius duis at consectetur. Ornare massa eget egestas purus viverra accumsan in nisl nisi. Augue ut lectus arcu bibendum at. Nibh venenatis cras sed felis eget velit. Luctus venenatis lectus magna fringilla urna porttitor. Habitasse platea dictumst vestibulum rhoncus. Scelerisque purus semper eget duis at tellus. Nunc pulvinar sapien et ligula ullamcorper malesuada proin.

                    Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Neque sodales ut etiam sit amet nisl. Mauris pharetra et ultrices neque ornare. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus. Facilisis sed odio morbi quis commodo odio aenean sed. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Adipiscing enim eu turpis egestas pretium aenean. Amet cursus sit amet dictum sit amet justo. Nibh ipsum consequat nisl vel pretium lectus quam. Nisi scelerisque eu ultrices vitae. Eget mi proin sed libero enim. Hac habitasse platea dictumst quisque sagittis purus sit amet. Massa placerat duis ultricies lacus sed turpis tincidunt id. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Donec enim diam vulputate ut pharetra sit amet aliquam. Amet justo donec enim diam vulputate ut pharetra sit.

                    Molestie at elementum eu facilisis sed. Laoreet non curabitur gravida arcu. Nunc mi ipsum faucibus vitae. Nec ultrices dui sapien eget mi proin. Sed felis eget velit aliquet sagittis id consectetur purus. Vel facilisis volutpat est velit egestas. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Eros donec ac odio tempor orci. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Est ante in nibh mauris cursus mattis molestie a. Urna duis convallis convallis tellus id interdum velit laoreet. Lectus quam id leo in vitae turpis. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper.

                    Diam quam nulla porttitor massa id. Tortor dignissim convallis aenean et tortor </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->